body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.dropdown-button__btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: fit-content;
  background-color: #1e1e1e;
  margin: 0;
  border: 1px solid #ffff;
  border-radius: 10px;
}
.dropdown-button__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.2s ease;
}
.dropdown-button__button:hover .dropdown-button__tooltip {
  background-color: rgba(255, 255, 255, 0.1);
  visibility: visible;
  opacity: 1;
}
.dropdown-button__settings-btn {
  align-self: center;
  transition: transform 0.4s ease-in;
}
.dropdown-button__settings-btn:hover {
  transform: rotate(60deg);
}
.dropdown-button__settings-btn:active {
  animation: rot 1s linear infinite;
}
@keyframes rot {
  from {
    transform: rotate(-100deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.dropdown-button__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
